# Notes
 
asdf

In [ ]:
import pandas as pd
# ?? from bs4 import BeautifulSoup as soup
# ?? import bs4 as bs
import urllib.request  # used for ?? XML proc?
# scrapy?

# Extract 

notes on how to pull data from local or remote source

http://pandas.pydata.org/pandas-docs/stable/io.html

# local files 
## CSV

`pd.read_csv("filename.csv")`
`pd.read_csv("filename.csv", sep = ',')`            # separator (a.k.a. delimiter) is comma by default 
`pd.read_csv("filename.csv", date_parser = False)`  # if True,  
`pd.read_csv("filename.csv", header = 0, names = ['list','of','column','names'])`  #  if csv has no column names 

http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table

In [ ]:
df = pd.read_csv('data/employees.csv')
# df.head()

## enter data from clipboard buffer

First, copy a data table to clipboard, for example the text in the following frame or try copying from spreadsheet or html table:
e.g. https://en.wikipedia.org/wiki/Maine#Demographics the historical population of Maine

  A B C
x 1 4 p
y 2 5 q
z 3 6 r

In [ ]:
# copy structured data to clipboard before executing this cell
pd.read_clipboard()

## from web site 

pd.read_html(url)

## look at data 

Methods
* `df.head()`
* `df.sample()`
* `df.info()`
* `df.get_dtype_counts()`
* `df.describe()`

Properties
* `df.shape` 
* `df.dtypes` 
* `df.columns` 
* `df.axes`

In [61]:
df = pd.read_csv('data/employees.csv')

df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [63]:
df.sample(5)  # retrievs a random sample

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
183,Ruth,NaN,5/18/1999,5:56 AM,98233,2.518,True,Distribution
43,Marilyn,Female,12/7/1980,3:16 AM,73524,5.207,True,Marketing
903,Heather,Female,7/29/1983,10:48 AM,47605,14.955,True,Human Resources
682,Deborah,Female,4/23/2000,6:55 PM,105573,5.268,True,Product
613,Teresa,NaN,1/3/1992,3:47 PM,63103,11.378,False,Finance

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [65]:
df.get_dtype_counts()

float64    1
int64      1
object     6
dtype: int64

In [66]:
df.describe()

              Salary      Bonus %
count    1000.000000  1000.000000
mean    90662.181000    10.207555
std     32923.693342     5.528481
min     35013.000000     1.015000
25%     62613.000000     5.401750
50%     90428.000000     9.838500
75%    118740.250000    14.838000
max    149908.000000    19.944000

In [67]:
df.shape

(1000, 8)

In [68]:
df.dtypes

First Name            object
Gender                object
Start Date            object
Last Login Time       object
Salary                 int64
Bonus %              float64
Senior Management     object
Team                  object
dtype: object

In [69]:
df.columns

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [70]:
df.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
        'Bonus %', 'Senior Management', 'Team'],
       dtype='object')]

# index

* assign column to index
* return named index to column
* sort

# headers

# data types

# NaNs

# Columns
A collection of series

* Headers
* Column index

* Create new column
* Read column values
* Update column values 
* Delete a column

* Change Data Type
* Manage NaNs

# Rows

* Row Index

* Create
* Read
* Update
* Delete

* Sort
* Filter

## sorting

## filtering